<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mi Rutina</title>
    <link rel="stylesheet" href="libs/bootstrap 4.1/bootstrap.min.css">
	<style>
		.col-form-label-sm {
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: .875rem;
			line-height: 1;
		}
		
		.div-tc {
			padding: 10px 10px;
		}
	</style>
</head>
<body>
<form>
	<div id="app" class="div-tc">
		<h4>QPayPro test</h4>
		<br/>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">Artículo: </label>
			<div class="col-sm-6">
				<select class="form-control form-control-sm" @change="onChange($event)">
					<option value=""></option>
					<option v-for="item in items" v-bind:value="item.id" >{{ item.nombre }} </option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">Costo: </label>
			<label class="col-sm-6 col-form-label col-form-label-sm">{{ 'Q ' + precio }}</label>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">Número TC: </label>
			<div class="col-sm-6">
				<input type="password" class="form-control form-control-sm" placeholder="Número tarjeta crédito">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">Número TC: </label>
			<div class="col-sm-6">
				<input type="password" class="form-control form-control-sm" placeholder="Número tarjeta crédito">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">Fecha Exp.: </label>
			<div class="col-sm-2">
				<select class="form-control form-control-sm">
					<option value=""></option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</div>
			/
			<div class="col-sm-2">
				<select class="form-control form-control-sm">
					<option value=""></option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">CCV</label>
			<div class="col-sm-3">
				<input type="password" class="form-control form-control-sm" placeholder="CCV">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm">Nombre TC: </label>
			<div class="col-sm-6">
				<input type="password" class="form-control form-control-sm" placeholder="Nombre tarjeta crédito">
			</div>
		</div>
	</div>
  
    <script src="libs/jquery 3.2.1/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap 4.1/popper.min.js"></script>
    <script src="libs/bootstrap 4.1/bootstrap.min.js"></script>
    <script src="libs/vue/vue.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
			data: {
				message: "Hello Vue!",
				articulo: "",
				precio: "0.00",
				items: [
					{ "id": 1, "nombre": "Camisa",  "precio": "50.00" },
					{ "id": 2, "nombre": "Pantalón",  "precio": "100.00" },
					{ "id": 3, "nombre": "Saco",  "precio": "150.00" }
				]
			},
			methods: {
				onChange(event) {
					console.log(event.target.value);
					for(i=0; i< this.items.length; i++){
						if(this.items[i].id == event.target.value){
							//console.log(this.items[i]);
							this.precio = this.items[i].precio;
							this.articulo = this.items[i].nombre;
							break;
						}
					}
					
				}
			}
        });
    </script>
</body>

</html>